/****** General ***********/
* {
    font-family: 'Roboto', serif;
    
 
    
}

:root {
    --main-color:
    --main-bg-color: 
    --filter-bg-color: 
}

.fa-solid {
    color: var(--main-color);
}

body {
width: 375px;
height:auto;
/*top: 1362px;
left: -1224px;*/
display: flex;
justify-content: center;

}

header {
    /*object-fit: cover;*/
    background-color: cornflowerblue;
}

.main-container {
    width: 100%;    
}
 
a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

p



.section-title {
    margin: 0;
   /* font-size:;*/
}


/************HEADER************/

header h1{
display: flex;
justify-content: center;
font-family: 'shrikhand', serif;
}

.location{
top: 62.5px;
left: -0.5px;
gap: 17px;
background-color: blueviolet;
display: flex;
width: 375px;
height: 50px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.location p{
color:rgba(53, 53, 53, 1);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.fa-solid {
   display: inline-flex;
   align-items:center;
}



/************Explorer************/
.searchzone{
background-color: brown ;
}

.xplor-btn{
    background-color: darkorange;
    display: flex;
    justify-content: center;
}

.btn{
width: 218px;
height: 50px;
flex-shrink: 0;
top: 293px;
left: 82px;
border-radius: 25px;
background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));

/* Shadow/Button */
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

/****fonctionnement******/

.activBar{
background-color: white;
width: 100%;
height: 440px;
padding-top:20px;


}

.fonction-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    gap:20px;
 width: 100%;
 height:440px;
}
/*
.btn-list a{
width: 211px;
height: 15.67px;
flex-shrink: 0;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: rgba(0, 0, 0, 1);
display:flex;
flex-direction: row ;
justify-content: center;
align-items: center;

margin-left: 50px;
color:red;
background-color: white;
}
*/
.btn-list p{
    width: 211px;
    height: 15.67px;
    flex-shrink: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    display:flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: white;
    }

.btn-list{
    width: 322.486px;
    height: 72.379px;
    flex-shrink: 0;
    border-radius: 20px;
    background: white;
    gap:15px;
    border:0;
margin-left: 25px;

 /*Shadow/Instructions */
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

ul {
    list-style-type: none;
}

/******restaurants********/

.restaurants{
    background-color: blueviolet ;
    gap:20px;
    display: flex;
    flex-direction: column;
    padding-left:20px;
    padding-right: 20px;
    height: auto;
    background-color: rgba(246, 246, 246, 1);
}



.card {
    border-radius: 15px;
    border-radius: 15px;
    background:white;
    width:100% ;
    height: 251px;
    gap:20px;
    padding-bottom: 10px;
 
    /* Shadow/Card */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    /*On click;
    Navigate to: "Menu - La palette du goût";
    Animate: Instant;
    animation-duration: 0ms;*/
    }

.big-card{
    width: 100%;
    height:90%; 
}

.card a{
width: 100%;
height:251px;
display: flex;
flex-direction: column;
justify-content: center;
}
    
.card img {
    width:100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
    
.card-title {
    font-size: 18px;
    height:20px;
    width: 267px;
flex-shrink: 0;
color: #000;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
top: 190px;
left: 13px;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
margin-top:2px;
padding-left:10px ;
}
    
.card-txt{
width: 247px;
height: 24px;
top: 215px;
left: 13px;
font-size: 17px;
font-weight: 300;
color: black;
margin-top:-15px;
line-height: 19.92px;
padding-left:10px ;
}

.card-content{
border-radius: 15px;

}

.fa-regular {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top:-20px;
  margin-right: -50px;

}


/************FOOTER************/
footer{
background-color: chocolate;
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: chocolate;
}

footer h4{
    font-family: 'shrikhand';
}

.fa-solid{
    
}