/****** General ***********/
* {
    font-family: 'Roboto', serif;
 
    
}

:root {
    --main-color:
    --main-bg-color: 
    --filter-bg-color: 
}

.fa-solid {
    color: var(--main-color);
}

body {
width: 375px;
height:auto;
/*top: 1362px;
left: -1224px;*/
display: flex;
justify-content: center;
background-color: darkgrey;
}

header {
    /*object-fit: cover;*/
    background-color: cornflowerblue;
}

.main-container {
    width: 100%;    
}
 
a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

p {
}


h1 {
    font-family: 'shrikhand'
}

.section-title {
    margin: 0;
   /* font-size:;*/
}


/************HEADER************/

header h1{
display: flex;
justify-content: center;
}

.location{
top: 62.5px;
left: -0.5px;
gap: 17px;
background-color: blueviolet;
display: flex;
width: 375px;
height: 50px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.location p{
color:rgba(53, 53, 53, 1);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.fa-solid {
   display: inline-flex;
   align-items:center;
}



/************Explorer************/
.searchzone{
background-color: brown ;
}

.xplor-btn{
    background-color: darkorange;
    display: flex;
    justify-content: center;
}

.btn{
width: 218px;
height: 50px;
flex-shrink: 0;
top: 293px;
left: 82px;
border-radius: 25px;
background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));

/* Shadow/Button */
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

/****fonctionnement******/

.activBar{
background-color:white;
}
.btn-list a{
width: 211px;
height: 15.67px;
flex-shrink: 0;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: rgba(0, 0, 0, 1);
text-align: center ;


}

.fonction-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.btn-list{
    width: 322.486px;
    height: 72.379px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
    top: 505px;
    left: 32.51px;
    
/* Shadow/Instructions */
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

ul {
    list-style-type: none;
}

/******restaurants********/
.card {
    border-radius: 15px;
    background-color: cadetblue;
    border-radius: 15px;
    background: green;
    
    /* Shadow/Card */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    
    /****On click;
    Navigate to: "Menu - La palette du goût";
    Animate: Instant;
    animation-duration: 0ms;****/
    
    }
    .card a{
        width: 100%;
        height: 251px;
    }
    
    .card img {
     
       height: 231px;
       border-radius: 15px 15px 0px 0px;
     
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .card-content{
    height: 20px;
    }



/************FOOTER************/
footer{
background-color: chocolate;
}