@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", serif;
}

/*
:root {
    --main-color:
    --main-bg-color: 
    --filter-bg-color: 
}*/
.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  font-size: x-large;
}

h2 {
  display: flex;
}

p {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

/************HEADER************/
header {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .header__logo {
  width: 80%;
  padding: 20px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.location {
  top: 62.5px;
  left: -0.5px;
  gap: 17px;
  background-color: hsl(0, 0%, 92%);
  display: flex;
  padding-top: 70px;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.location .location p {
  color: hsl(0, 0%, 21%);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.location .location p .fa-solid {
  display: inline-flex;
  align-items: center;
}

/************Explorer************/
.xplor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 15px 50px 15px;
  background-color: #F6F6F6;
}

.xplor__btn {
  display: flex;
  justify-content: center;
}
.xplor__btn .btn {
  color: white;
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  top: 293px;
  left: 82px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(10deg, #9356DC -11.44%, #FF79DA 123.93%));
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  transition: 0.5s;
  /*background: var(--Button-Gradient, linear-gradient(190deg, #9356DC -11.44%, #FF79DA 123.93%));*/
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=0.8);
}

/****fonctionnement******/
/*******REVOIR REM**********/
.activBar {
  background-color: white;
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.activBar__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}
.activBar__buttons .btn__list {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 15px 0px hsla(0, 0%, 0%, 0.15);
  border-radius: 2rem;
  position: relative;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.activBar__buttons .btn__list .activBar__number {
  background: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******restaurants********/
.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
}

.restaurants__container {
  gap: 20px;
  height: auto;
}

.restaurants__card {
  border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  height: 251px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* On click;
  Navigate to: "Menu - La palette du goût";
  Animate: Instant;
  animation-duration: 0ms;*/
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.restaurants__card .tag {
  background: #a9e0d1;
  color: #3b8468;
  font-weight: 500;
  padding: 9px 20px;
  border-radius: 4.8px;
  position: absolute;
  right: 35px;
  margin-top: 20px;
}
.restaurants__card .card__footer {
  margin-top: -10px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.card__footer .card__footer__text {
  height: 50px;
  margin-top: -20px;
  left: 13px;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  flex: 1 1 0%;
}
.card__footer .card__footer__text h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.card__footer .card__footer__text p {
  margin-top: -10px;
}
.card__footer .card__heart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__footer .card__heart .fas {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  margin-left: 0.5px;
  margin-bottom: 0.06rem;
  text-align: center;
  color: transparent;
  transition: 0.5s;
  display: block;
}
.card__footer .card__heart .fas:hover {
  /*****retravailler l animation du coeur*****/
  color: #d04ed6;
  transition: 0.5s;
  display: block;
}
.card__footer .card__heart .far {
  color: black;
  position: relative;
  cursor: pointer;
}
.card__footer .card__heart .far :hover {
  transition: 0.5s;
  color: #DA22FF;
  /*ne fonctionne pas en l'état*/
}

/******ANIMATION COEUR********/
/*before et after en utulisant les checkbox
voir pour like-unlike*/
/* TEST */
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
  font-family: "Font Awesome 6 Free";
}

/************FOOTER************/
/*revoir le footer*/
footer {
  height: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(0, 0%, 21%);
}
.footer__container h4 {
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 40px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: -20px;
}
.footer__list li {
  color: white;
  list-style: none;
}
.footer__list li ul {
  margin: 0;
}
.footer__list li ul .footer__list .fas {
  color: white;
  margin-right: 10px;
  margin-left: -35px;
}

/********************MEDIA QUERIES*******************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1024px) {
  .activBar h2 {
    margin-left: 85px;
  }
  .activBar__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    align-content: flex-end;
    height: 70px;
    margin: 50px;
    justify-content: space-around;
    align-items: center;
    /* display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 20px;
     width: 90%;
     align-content: space-between;
     height: 70px;
     margin: 50px;
     justify-content: center;
     align-items: stretch;*/
  }
  .activBar__buttons .btn__list {
    width: 25%;
  }
  /***********Restaurants***********/
  /*****REVOIR POUR LE GRID SI CE N EST PAS MIEUX DE FAIRE UN FLEXBOX*****/
  .restaurants__container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .restaurants__card--div1 {
    grid-area: 1/1/2/2;
  }
  .restaurants__card--div2 {
    grid-area: 1/2/2/3;
  }
  .restaurants__card--div3 {
    grid-area: 2/1/3/2;
  }
  .restaurants__card--div4 {
    grid-area: 2/2/3/3;
  }
  .restaurants__container .restaurants__card--div1, .restaurants__card--div2, .restaurants__card--div3, .restaurants__card--div4 {
    width: 70%;
  }
  .tag {
    margin-right: 50%;
  }
  /*************FOOTER*************/
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__list ul {
    margin: 0;
  }
  .footer__list ul .footer__list .fas {
    margin-right: 10px;
    margin-left: -35px;
  }
}/*# sourceMappingURL=styles.css.map */