@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", serif;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  padding: 0;
  min-height: 1140px;
  width: 100%;
  animation: fadein 0.8s linear;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-container {
  margin: 0;
  padding: 0;
}

main {
  margin: 0px;
  padding: 0px;
}

h1 {
  display: flex;
  font-size: x-large;
}

h2 {
  display: flex;
}

p {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

/************HEADER************/
.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100%;
  background-color: white;
  z-index: 999;
  animation: loader 2s 2s ease-out both;
}

.loader .colorful__loader {
  top: 400px;
  position: fixed;
  width: 31.4px;
  height: 31.4px;
  border-radius: 50%;
  background: #99E2D0;
  transform-origin: top;
  display: grid;
  animation: colorful1 1s infinite ease-out;
}

.loader .colorful__loader::before,
.loader .colorful__loader::after {
  content: "";
  grid-area: 1/1;
  background: #FF79DA;
  border-radius: 50%;
  transform-origin: top;
  animation: inherit;
  animation-name: colorful2;
}

.loader .colorful__loader::after {
  background: #9356DC;
  --s: 180deg;
}

@keyframes loader {
  85% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

@keyframes colorful1 {
  0%, 20% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorful2 {
  50% {
    transform: rotate(var(--s, 90deg));
  }
  100% {
    transform: rotate(0);
  }
}

header {
  background-color: white;
  width: 100%;
}

header .header__logo {
  margin: auto;
  height: 36px;
  padding: 14px;
  display: flex;
  justify-content: center;
}

.location {
  top: 62.5px;
  gap: 17px;
  background-color: #ebebeb;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.location .fa-solid {
  display: inline-flex;
  align-items: center;
  color: #363636;
}

.location input[type="search"] {
  border: none;
  background-color: #ebebeb;
  font-size: 16px;
}

.location input[type="search"]::placeholder {
  color: #363636;
  font-family: "roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

/************Explorer************/
.xplor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 15px 50px 15px;
  background-color: #F6F6F6;
}

.xplor .xplor__btn {
  display: flex;
  justify-content: center;
}

.xplor .xplor__btn .btn {
  color: white;
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  top: 293px;
  left: 82px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(10deg, #9356DC -11.44%, #FF79DA 123.93%));
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.xplor .btn:hover {
  transition: 0.5s;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=0.8);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.541);
}

/****fonctionnement******/
.activBar {
  background-color: white;
  height: auto;
  padding: 20px 20px 70px 20px;
  margin: auto;
}

.activBar .activBar__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  margin: auto;
}

.activBar .activBar__buttons .btn__list {
  background-color: #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.activBar .activBar__buttons .btn__list:hover {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.25);
  background-color: #F9F1FF;
  transition: 0.5s;
}

.activBar .activBar__buttons .btn__list p {
  font-weight: 500;
  font-family: 'roboto';
}

.activBar .activBar__buttons .btn__list .activBar__number {
  background: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activBar .activBar__buttons .fa-solid {
  margin: 20px;
}

.activBar .activBar__buttons .fa-mobile-screen-button, .activBar .activBar__buttons .fa-list {
  color: #7E7E7E;
}

.activBar .activBar__buttons .fa-store {
  color: #8d62c0;
}

/******restaurants********/
.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  background-color: #F6F6F6;
}

.restaurants__container {
  gap: 20px;
  height: auto;
}

.restaurants__container .restaurants__card {
  border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  height: 251px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.restaurants__container .restaurants__card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.restaurants__container .restaurants__card .tag, .restaurants__container .restaurants__card .tag2 {
  background: #a9e0d1;
  color: #3b8468;
  font-weight: 500;
  padding: 9px 20px;
  border-radius: 4.8px;
  position: absolute;
  right: 35px;
  margin-top: 20px;
  height: 19px;
}

.restaurants__container .restaurants__card .card__footer {
  margin-top: -10px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.restaurants__container .card__footer .card__footer__text {
  height: 50px;
  margin-top: -20px;
  left: 13px;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  flex: 1 1 0%;
}

.restaurants__container .card__footer .card__footer__text h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.restaurants__container .card__footer .card__footer__text p {
  margin-top: -10px;
}

/*ù*********ANIMATION COEUR********/
.checkbox {
  display: none;
}

.input [type="checkbox"] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.icon-wrapper--heart {
  position: relative;
  height: 25px;
  width: 27px;
  border-radius: 0;
  background-color: transparent;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  overflow: hidden;
  align-self: center;
}

label {
  cursor: default;
}

.icon--heart--filled {
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  z-index: 50;
}

.icon--heart {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox:checked ~ .icon-wrapper--heart > .icon-hider {
  animation: stroke-animation 2s ease-in-out forwards;
}

.icon-wrapper--heart .icon-hider {
  position: absolute;
  height: 200%;
  width: 200%;
  border-radius: 35%;
  background-color: transparent;
  left: -50%;
  bottom: 0;
  z-index: 60;
}

.checkbox:checked ~ .icon-wrapper--heart > .icon-hider + .icon--heart--empty {
  opacity: 0;
  transition-delay: 10ms;
}

.icon--heart--empty {
  background: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 100;
}

.icon--heart {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.fa, .fas {
  font-weight: 900;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/************FOOTER************/
footer {
  height: auto;
}

footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #363636;
}

footer .footer__container h4 {
  color: white;
  font-family: 'Shrikhand';
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 40px;
}

footer .footer__container .footer__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: -20px;
}

footer .footer__container .footer__list li {
  color: white;
  list-style: none;
}

footer .footer__container .footer__list ul {
  margin: 0;
}

footer .footer__container .footer__list .footer__list .fas {
  color: white;
  margin-right: 10px;
  margin-left: -35px;
}

/********************MEDIA QUERIES*******************/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .location {
    margin: 0;
    padding: 0;
  }
  .activBar {
    padding: 20px;
  }
  .activBar h2 {
    margin-left: 50px;
  }
  .activBar .activBar__buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .activBar .activBar__buttons .btn__list {
    height: 50px;
    width: 100%;
    margin: 20px;
  }
  .activBar .activBar__buttons .btn__list p {
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
  }
  .activBar .activBar__buttons .btn__list .activBar__number {
    background: #9356dc;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .activBar .activBar__buttons .btn__list .fa-solid {
    margin: 20px;
  }
  .restaurants h2 {
    margin-left: 50px;
  }
  .restaurants .restaurants__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .restaurants .restaurants__card--div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .restaurants .restaurants__card--div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .restaurants .restaurants__card--div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .restaurants .restaurants__card--div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .restaurants .restaurants__container .restaurants__card--div1, .restaurants .restaurants__card--div2, .restaurants .restaurants__card--div3, .restaurants .restaurants__card--div4 {
    width: 80%;
  }
  .restaurants .tag {
    position: absolute;
    margin-right: 54%;
  }
  .restaurants .tag2 {
    position: absolute;
    margin-right: 5%;
  }
  footer {
    width: 100%;
  }
  footer .footer__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 30px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
  }
  footer .footer__container .footer__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  footer .footer__container li {
    margin-right: 30px;
  }
}

/****MEDIA QUERIES DESKTOP******/
@media (min-width: 1024px) {
  .header__logo {
    padding: 30px;
  }
  .activBar {
    padding: 20px;
  }
  .activBar h2 {
    margin-left: 90px;
  }
  .activBar .activBar__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    align-content: flex-end;
    height: 70px;
    margin: 50px;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
  }
  .activBar .activBar__buttons .btn__list {
    width: 27%;
    height: 50px;
    background-color: #F6F6F6;
  }
  .activBar .activBar__buttons .btn__list:hover {
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.25);
    background-color: #F9F1FF;
  }
  .activBar .activBar__buttons .btn__list .fa-solid {
    margin: 20px;
  }
  .activBar .activBar__buttons .btn__list p {
    margin-left: -10px;
  }
  /***********Restaurants***********/
  .restaurants h2 {
    margin-left: 90px;
  }
  .restaurants .restaurants__container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .restaurants .restaurants__card--div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .restaurants .restaurants__card--div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .restaurants .restaurants__card--div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .restaurants .restaurants__card--div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .restaurants .restaurants__container .restaurants__card--div1, .restaurants .restaurants__card--div2, .restaurants .restaurants__card--div3, .restaurants .restaurants__card--div4 {
    width: 75%;
  }
  .restaurants .restaurants__container .restaurants__card--div1:hover, .restaurants .restaurants__card--div2:hover, .restaurants .restaurants__card--div3:hover, .restaurants .restaurants__card--div4:hover {
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.25);
  }
  .restaurants .tag {
    position: absolute;
    margin-right: 56%;
  }
  .restaurants .tag2 {
    position: absolute;
    margin-right: 7%;
  }
  /*************FOOTER*************/
  footer {
    width: 100%;
  }
  footer .footer__container {
    height: 54px;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
  }
  footer .footer__container .footer__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  footer .footer__container li {
    margin-right: 30px;
  }
  footer .footer__container .footer__list .fas {
    margin-right: 10px;
    margin-left: -35px;
  }
}
